<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2'>
      <div class='well'>
        <h1>About ASINO</h1>
        <p>ASINO is AsymEnc Innovative Observer</p>
      </div>
    </div>
  </div>
</div>
