<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2'>
      <div class='well'>
        <h1>Help</h1>
        <p>Help, help, help...</p>
      </div>
    </div>
  </div>
</div>
