<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2'>
      <div class='well'>
        <h1>System Description</h1>
        <dl>
          <dt>Sources</dt>
          <dd>Dutch collection: 577334 Documents from 1881 to 1914</dd>
          <dd>German collection: 27236 Documents from 1863 to 1884</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
