# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
# _log_ is not the last extension for Solr logs
/log/*.log*
/tmp

# Older Capistrano configuration (v. 2).
/old_cap
