<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @document.date %>: <%= @document.title %></h3>
  </div>
  <div class="panel-body">
    <%= @document.fulltext %>
  </div>
</div>

